DirectoryIndex page.php index.php index.htm

ErrorDocument 404 /page.php?name=error&code=404
ErrorDocument 403 /page.php?name=error&code=403
ErrorDocument 500 /page.php?name=error&code=500

# AddType x-mapp-php5 .php
# AddHandler x-mapp-php5 .php

RewriteEngine on
RewriteRule ^([-a-zA-Z0-9]+)$ /page.php?name=$1&%{QUERY_STRING}