* {
  margin:0;
  padding:0;
  border:0;
}
html { height:100%; }
body {
  height:100%;
  color:black;
  background-color:#c0c0c0;
  font-size:12pt;
  font-family:"Helvetica Neue", "Helvetica", "arial", sans-serif;
  font-weight:200;
}
#main { min-height:100%; }
#content {
  margin-left:auto;
  margin-right:auto;
  padding:0px 10px 25px;
  max-width:900px;
  min-width:600px;
  text-align:justify;
  line-height:20px;
}
#content p { margin:10px 10px; }
#content a { border-bottom:1px dotted #404040; }
#content a:hover { text-shadow:0px 1px 0px white; }
#content h2, #content h3 { margin:10px 0px; }
#content h2 a, #content h3 a {
  float:right;
  border:none;
  font-size:10px;
  text-shadow:none;
  color:#808080;
}
ul.bulleted {
  margin:10px 10px;
  list-style-type:none;
}
ul.bulleted li {
  padding-left:20px;
  position:relative;
}
ul.bulleted li:before {
  content:"•";
  display:block;
  font-size:20px;
  text-align:center;
  width:20px;
  height:20px;
  position:absolute;
  left:0;
  top:0;
  color:white;
  text-shadow:0px 1px 0px #404040;
}
#logo {
  background:url("logo.png") center bottom no-repeat;
  text-indent:-9999px;
  vertical-align:bottom;
  height:65px;
  overflow:hidden;
}
#header {
  background-color:#ff8000;
  text-align:center;
  width:100%;
}
#header h1 {
  font-weight:500;
  font-size:500%;
  font-family:"Stop", "Agent FB", sans-serif;
  color:#404040;
}
#footer {
  position:relative;
  margin-top:-50px;
  height:50px;
  text-align:center;
  overflow:hidden;
}
#footer a { color:#c0c0c0; }
#footer-main {
  margin-top:25px;
  padding:5px;
  line-height:15px;
  text-align:center;
  background-color:#ff8000;
  color:#404040;
  font-weight:bold;
}
#footer:hover #footer-toggle { -webkit-transform:rotate(180deg); }
#footer-extra {
  background-color:#404040;
  color:#ffffff;
  padding:5px;
  height:100px;
}
#footer-toggle {
  float:left;
  color:#404040;
  margin-right:5px;
}
.clearfix:after {
  content:".";
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
}
#navbar {
  display:block;
  height:30px;
  background-color:#808080;
  border-top:5px solid #404040;
  font-weight:200;
  text-align:center;
  text-shadow:0px 1px 0px black;
}
#navbar li {
  text-align:center;
  display:inline-block;
  margin-left:-2.5px;
  margin-right:-2.5px;
  padding-left:5px;
  padding-right:5px;
  vertical-align:text-top;
  height:100%;
  position:relative;
  overflow:hidden;
}
#navbar li a {
  padding:5px;
  padding-top:2.5px;
  background-color:#404040;
  height:15px;
  line-height:15px;
  display:block;
  color:white;
  border:none;
  border-radius:0px 0px 5px 5px;
}
#navbar li .round-left {
  left:0px;
  padding-right:5px;
  border-right:5px solid;
  border-top-right-radius:10px;
  position:absolute;
  width:0;
  height:0;
  display:block;
  padding-top:5px;
  border-top:5px solid;
  border-color:#404040;
  top:0px;
}
#navbar li .round-right {
  right:0px;
  padding-left:5px;
  border-left:5px solid;
  border-top-left-radius:10px;
  position:absolute;
  width:0;
  height:0;
  display:block;
  padding-top:5px;
  border-top:5px solid;
  border-color:#404040;
  top:0px;
}
#navbar li.current .round-left, #navbar li.current .round-right {
  border-color:#ff8000;
  top:-5px;
  z-index:2;
}
#navbar li.current a { color:#ff8000; }
h2 {
  font-family:Orbitron;
  font-weight:500;
  color:white;
  text-shadow:0px 1px 0px #404040;
  border-bottom:1px dotted grey;
  font-size:24px;
  line-height:24px;
  padding-top:5px;
}
h3 {
  font-family:Orbitron;
  font-weight:500;
  color:white;
  text-shadow:0px 1px 0px #404040;
  border-bottom:1px dotted grey;
  font-size:18px;
  line-height:19px;
}
.object-box {
  display:block;
  display:table;
  margin-left:auto;
  margin-right:auto;
  margin:10px auto;
  padding:5px;
  padding-bottom:0px;
  border-radius:15px;
  background-color:#808080;
  position:relative;
}
.object-box img, .object-box object, .object-box applet {
  display:block;
  border-radius:10px;
  margin-bottom:5px;
}
.object-box .caption {
  font-size:75%;
  color:white;
  text-align:center;
  line-height:15px;
  display:block;
  margin:auto;
  margin-bottom:5px;
  overflow:hidden;
  font-weight:bold;
}
.object-box .caption small {
  font-weight:normal;
  color:#c0c0c0;
  display:block;
}
.object-box.left {
  display:block;
  float:left;
  margin-top:0px;
  margin-left:0px;
  margin-right:10px;
}
.object-box.right {
  display:block;
  float:right;
  margin-top:0px;
  margin-right:0px;
  margin-left:10px;
}
.object-box.multiple .controls {
  position:relative;
  height:0px;
  width:100%;
}
.object-box.multiple .controls .next-button {
  position:absolute;
  width:20px;
  height:20px;
  background-color:white;
  line-height:20px;
  text-align:center;
  color:#808080;
  cursor:pointer;
  right:0px;
  border-bottom-right-radius:10px;
}
.object-box.multiple .controls .previous-button {
  position:absolute;
  width:20px;
  height:20px;
  background-color:white;
  line-height:20px;
  text-align:center;
  color:#808080;
  cursor:pointer;
  left:0px;
  border-bottom-left-radius:10px;
}
.object-box.multiple .caption {
  font-size:100%;
  line-height:20px;
  padding-left:25px;
  padding-right:25px;
}
.object-box.multiple .media {
  background:white url(/images/ajaxSpinner.gif) 50% 50% no-repeat;
  text-align:center;
  border-radius:10px;
  border-bottom-left-radius:0px;
  border-bottom-right-radius:0px;
  overflow:hidden;
  margin-bottom:5px;
}
.object-box.multiple .media * {
  border-radius:0;
  margin:0 auto;
}
.object-box.multiple .media .lsoading { background:white; }
a {
  color:#404040;
  font-weight:700;
  text-decoration:none;
}
#robot-spin a {
  border:none;
  display:block;
  height:300px;
  line-height:300px;
  text-align:center;
  width:400px;
  border-radius:10px;
  background:white url(/images/ajaxSpinner.gif) 50% 50% no-repeat;
}
.object-list {
  padding:5px;
  border-radius:10px;
  background-color:#808080;
}
.object-list dl {
  background-color:#c0c0c0;
  padding:5px;
  border-radius:5px;
  overflow:hidden;
}
.object-list dl dt {
  color:#c0c0c0;
  background-color:#808080;
  margin-left:-5px;
  margin-right:-5px;
  padding:0px 5px;
}
.object-list img {
  display:block;
  float:right;
  margin-left:5px;
  border-radius:5px;
}
iframe {
  display:block;
  margin:0;
}
em.large {
  display:block;
  margin:auto;
  text-align:center;
  font-size:250%;
  line-height:40px;
  font-style:normal;
  color:white;
  text-shadow:0px 1px 0px #404040;
}
