/* Reset all box model styles */
* {
	margin:0;
	padding:0;
	border: 0;
}

/* ensure that the webpage fills at least the whole browser window */
html, body {
	height: 100%;
}

body {
	color: #000000;
	background-color: #c0c0c0;
	font-size: 12pt;
	font-family: "Helvetica Neue", "arial", sans-serif;
	font-weight: 200;
}

#main {
	min-height: 100%;
}

#content {
	margin-left: auto;
	margin-right: auto;
	
	padding-left: 10px;
	padding-right: 10px;
	max-width: 900px;
	min-width: 600px;
	
	padding-bottom: 25px;	/* Height of minimized footer */
	text-align: justify;
	line-height: 20px;
}

#logo {
	background: url("logo.png") center bottom no-repeat;
	text-indent: -9999px;
	vertical-align: bottom;
	height: 65px;
	overflow: hidden;
}


#header {
	background-color: #ff8000;
	text-align: center;
	width: 100%;
}

#footer {
	position: relative;
	margin-top: -50px;		/* -Height of maximized footer */
	height: 50px;			/* Height of maximized footer */
	
	text-align: center;
	overflow: hidden;
}

#footer-main {
	margin-top: 25px;		/* Height of maximized footer - Height of maximized footer */
	
	padding: 5px;
	line-height: 15px;
	
	text-align: center;
	background-color: #ff8000;
	color: #404040;
	font-weight: bold;
}
#footer-extra
{
	background-color: #404040;
	color: #ffffff;
	padding: 5px;
	height: 100px
}
#footer-toggle {
	float: left;
	color: #404040;
	margin-right: 5px;
}


.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
/*	
.clearfix {
	display: inline-block;
}
*/
#navbar {
 	display: block;
 	height: 30px;
 	background-color: #808080;
 	border-top: 5px solid #404040;

 	font-weight: 200;
	
 	text-align: center;
 	text-shadow: 0px 1px 0px black;
}

#navbar li {
	margin-top: -5px;
	text-align: center;
	display: inline-block;
	margin-left: -2.5px;
	margin-right: -2.5px;
	padding-left: 5px;
	padding-right: 5px;
	vertical-align: text-top;
	height: 100%;
	
	position: relative;
	overflow: hidden;
}

#navbar li a {
	padding: 5px;
	background-color: #404040;
	
	height: 15px;
	line-height: 15px;
	display: block;
	
	color: white;
	border: none;
	border-radius: 0px 0px 7.5px 7.5px;
}

/*#navbar li a:hover, #navbar li a.hover{
	margin-top: 5px;
	padding: 2.5px;
	background-color: #ff8000;
	border-radius: 5px;
}*/

#navbar li.current a {
	
	background-color: #ff8000;
}


#navbar li .round-left {
	left: 0px;
	
	padding-right: 5px;
	border-right: 5px solid;
	border-top-right-radius: 10px;
}

#navbar li .round-right {
	right: 0px;
	
	padding-left: 5px;
	border-left: 5px solid;
	border-top-left-radius: 10px;
}

#navbar li .round-left, #navbar li .round-right {
	position: absolute;
	width:0;
	height:0;
	display: block;
	padding-top: 5px;
	border-top: 5px solid;
	border-color: #404040;
	top: 0px;
}

#navbar li.current .round-left, #navbar li.current .round-right {
	border-color: #ff8000;
	top: -5px;
	z-index: 2;
}
#content p, #content  h2
{
	margin: 10px 0px;
	/*margin: 10px auto 10px auto;
	max-width: 900px;
	min-width: 600px;*/
}

/******** Content Styles ********/

h1 {
	font-weight: 500;
	font-size: 500%;
	font-family: "Stop", "Agent FB", sans-serif;
	color: #404040;
	margin: 0;
	padding: 0;
}

h2 {
	color: white;
	text-shadow: 0px 1px 0px #404040;
	border-bottom: 1px dotted grey;
	padding-bottom: 2px;
}

h3 {
	color: white;
	text-shadow: 0px 1px 0px #404040;
}

/******** Caption-box styles ********/

.object-box {
	display: block;
	display: table;
	margin-left:auto;
	margin-right:auto;
	background-color: white;
	border-radius: 10px;
	overflow: hidden;
	margin: 10px auto;
}

.object-box.left {
	display: block;
	float: left;
	
	margin-left: 0px;
	margin-right: 10px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

.object-box.right {
	display: block;
	float: right;
	
	margin-right: 0px;
	margin-left: 10px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

.object-box .caption {
	border-top: 2px solid #404040;
	font-size: 75%;
	color: white;
	background-color: #989a9a;
	text-align: center;
	line-height: 15px;
	padding: 2px;
	display: block;
	overflow: hidden;
}

.object-box img, .object-box object, .object-box applet {
	display: block;
}

/******** Other styles ********/
a {
	color: #404040;
	font-weight: 700;
	border-bottom: 1px dotted #404040;
	text-decoration: none;
}

#footer a {
	color: #c0c0c0;
}