<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	{% include head.html %}

	<body>
		<div id="main">
	    	{% include header.html %}

			<div id="content">
				{% if page.path contains '_posts' %}
					<h2>
						{{page.title}}
						<a href="{{ page.url }}">{{ page.date | date: "%Y-%m-%d" }}</a>
					</h2>
				{% endif %}
				{{content}}
				<br style="clear:both; height: 0" />
			</div>
		</div>
	    {% include footer.html %}
	</body>
</html>
